@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

header{
    background: linear-gradient(to bottom right, #cc00cc 0%, #ff99ff 69%);
    position:fixed;
    width: 100%;
    padding: 0 0 3%;
    border-radius: 0 0 10px 10px;
    font-family: 'Hubballi', cursive;
    margin: -8px 0 0 -8px;
}

#logo {
    padding-top: 1%;
    font-size: 69px;
    color: white;
    text-shadow: 4px 4px 4px indigo;
}

#profil:hover #deroulant{
    display: block;
    top:90px;
    right: 0px;
}

#deroulant {
    display: none;
    position: absolute;
    background-color: rgba(202, 50, 216, 0.657);
    border-radius: 10px;
    padding:1%;
}

#deroulant a {
    width:100%;
    text-align: center;
    padding: 2%;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    padding-top: 10px;
    color: white;
    padding-left:15px;
    padding-right: 15px;
}

a:hover {
    background-color: rgba(66, 44, 64, 0.507);
    transition: 0.69s;
    padding-top: 5px;
    text-align:center;
    border-radius: 5px;
}

.menu {
    display: flex;
    padding-top: 1%;
    padding-right: 2%;
    gap: 50px;
    font-size: 36px;
    text-shadow: 5px 5px 5px #383238;
}

li {
    display: flex;
}

nav {
    padding-top: 8%;
}

p {
    font-size: 42px;
    font-family: 'Hubballi', cursive;
}
