body {
    text-align: center;
    background-image: url("https://i.goopics.net/ftuhbe.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(5px)
  }
  
  h1 {
    color: black;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 60px;
  }
  
  h2 {
    color: black;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 50px;
  }

  #scroll_to_top, #topp {
    font-size: 60px;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 50px;
    right: 30px;
    background-color: rgb(216, 96, 96);
    border-radius: 40px;
    
  }

  table {
    width: 60%;
    text-align: center;
    background-color: rgb(216, 96, 96);
    border-style: dashed;
    border-width: 5px;
    border-color: black;
}

.striped-table tr:nth-child(odd) {
    background-color: rgb(216, 96, 96)
}

.striped-table tr:nth-child(even) {
    background-color: rgb(173, 85, 85);
}

#ajouterClasse {
    border: none;
    border-radius: 13px;
    padding: 1%;
    background-color: rgb(2, 145, 7);
  }

  #ajouterClasse:hover {
    cursor: pointer;
    background-color: rgb(0, 255, 42);
  }