footer {
    background-color: rgb(216, 96, 96);
    opacity: 90%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 40px;
    padding: 2%;
}

#ulfoot {
    border-style: none;
}

#lifoot {
    background-color: rgb(216, 96, 96);
    border-radius: 20px;
    display: inline;
    padding: 8px;
    margin-left: 20px;
    margin-right: 20px;
}

#lifoot :hover {
    color: white;
}

#lifoot2 {
    background-color: rgb(216, 96, 96);
}

#lifoot2 :hover {
    color: black;
}

#afoot {
    font-family: Snell Roundhand, cursive;
}

#afoott {
    font-family: Snell Roundhand, cursive;
}

#afoott:hover {
    cursor: pointer;
}

#pfoot {
    font-size: 12px;
    font-family: OCR A Std, monospace;
}