nav {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

ul {
    background-color: rgb(216, 96, 96);
    padding: 10px;
    border-style: double;
    border-width: 10px;
    border-radius: 30px;
    padding: 22px;
}

li {
    background-color: rgb(184, 113, 113);
    border-radius: 20px;
    display: inline;
    padding: 8px;
    margin-left: 20px;
    margin-right: 20px;
}

a {
    color: black;
    font-family: Luminari, fantasy;
    text-decoration : none;
    text-align: center;
}

li:hover {
    background-color: rgb(216, 96, 96);
}
