body {
  text-align: center;
  background-image: url("https://i.goopics.net/ftuhbe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  backdrop-filter: blur(5px)
}

h1 {
  color: black;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 60px;
}

h2 {
  color: black;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 50px;
}

#intro {
  font-family: OCR A Std, monospace;
  font-size: 20px;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  background-color: rgb(164, 149, 134);
  opacity: 70%;
  padding: 2%;
  border-radius: 40px;
}


#scroll_to_top, #topp {
  font-size: 60px;
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 50px;
  right: 30px;
  background-color: rgb(216, 96, 96);
  border-radius: 40px;
  
}

#equipe {
  border: 10px;
  border-radius: 15px;
  border-style:ridge;
  border-color: rgb(102, 91, 79);
  width: 10%;
  text-align: center;
}

#TablTitle {
  font-family: fantasy;
  background-color: rgb(91, 71, 52);
  padding: 19%;
  text-align: center;
}

#TablSubTitle {
  font-family: DejaVu Sans Mono, monospace;
  text-align: center;
  background-color: rgb(135, 111, 78);
  padding: 19%;
  text-align: center;
}

p {
  font-family: fantasy;
  font-size: 20px;
}

#sub {
  font-size: 10px;
}

#Nov {
  color: rgb(89, 89, 184);
}

#NovSub {
  color: rgb(89, 89, 184);
  font-family: Andale Mono, monospace;
}

#NovSubSub {
  color: rgb(89, 89, 184);
}

#Int {
  color: rgb(205, 205, 86);
}

#IntSub {
  color: rgb(205, 205, 86);
  font-family: Andale Mono, monospace;
}

#IntSubSub {
  color: rgb(205, 205, 86);
}

#Eli {
  color: rgb(216, 96, 96);
}

#EliSub {
  color: rgb(216, 96, 96);
  font-family: Andale Mono, monospace;
}

#EliSubSub {
  color: rgb(216, 96, 96);
}

#InfosSuppl {
  font-family: 'Courier New', Courier, monospace;
}

#tablee {
  padding: 5%;
  text-align: center;
}




#dtablemem {
  background-color: rgb(216, 96, 96);
  width: 20%;
  border-radius: 20%;
  padding: 4%;
  border: 15px;
  border-radius: 15px;
  border-style:ridge;
  border-color: rgb(102, 91, 79);
}

#dtrmem {
  padding: 15%;
}

#dtdmem {
  text-align: center;
  padding: 8%;
}

#dimgmem {
  border-radius: 20%;
  width : 170px;
  height : 220px;
}






#etablemem {
  background-color: rgb(216, 96, 96);
  width: 20%;
  border-radius: 20%;
  padding: 4%;
  border: 15px;
  border-radius: 15px;
  border-style:ridge;
  border-color: rgb(102, 91, 79);
}

#etrmem {
  padding: 15%;
}

#etdmem {
  text-align: center;
  padding: 8%;
}

#eimgmem {
  border-radius: 20%;
  width : 170px;
  height : 220px;
}




#itablemem {
  background-color: rgb(205, 205, 86);
  width: 20%;
  border-radius: 20%;
  padding: 4%;
  border: 15px;
  border-radius: 15px;
  border-style:ridge;
  border-color: rgb(102, 91, 79);
}

#itrmem {
  padding: 15%;
}

#itdmem {
  text-align: center;
  padding: 8%;
}

#iimgmem {
  border-radius: 20%;
  width : 170px;
  height : 220px;
}





#ntablemem {
  background-color: rgb(89, 89, 184);
  width: 20%;
  border-radius: 20%;
  padding: 4%;
  border: 15px;
  border-radius: 15px;
  border-style:ridge;
  border-color: rgb(102, 91, 79);
}

#ntrmem {
  padding: 15%;
}

#ntdmem {
  text-align: center;
  padding: 8%;
}

#nimgmem {
  border-radius: 20%;
  width : 170px;
  height : 220px;
}

.container2 {
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(216, 96, 96, 0.7);
  padding: 5%;
  width: 65%;
  border-radius: 50px;
}

.container2 p {
  opacity: 1;
}