body {
    text-align: center;
    background-image: url("https://i.goopics.net/ftuhbe.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(5px)
  }
  
  h1 {
    color: black;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 60px;
  }
  
  h2 {
    color: black;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 50px;
  }
 
  table {
    width: 60%;
    text-align: center;
    background-color: rgb(216, 96, 96);
    border-radius: 10%;
    border-style: dashed;
    border-width: 5px;
    border-color: black;
}

td {
    border-top: 5px dashed black; 
  }
  
  tr:last-child td {
    border-bottom: 5px dashed black; 
  }
  
  td:first-child {
    border-left: none; 
  }
  
  td:last-child {
    border-right: none; 
  }

  #scroll_to_top, #topp {
    font-size: 60px;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 50px;
    right: 30px;
    background-color: rgb(216, 96, 96);
    border-radius: 40px;
    
  }

  #melange {
    background-color: rgb(117, 44, 44);
    border: none;
    border-radius: 13px;
    padding: 1%;
    color: white;
  }

  #melange:hover {
    color: black;
    cursor: pointer;
    background-color: rgb(109, 105, 105);
  }

  #reseter {
    color: white;
    border: none;
    border-radius: 13px;
    padding: 1%;
    background-color: rgb(228, 141, 10);
  }

  #reseter:hover {
    color: black;
    cursor: pointer;
    background-color: rgb(255, 191, 0)
  }

  #reseterTout {
    color: white;
    border: none;
    border-radius: 13px;
    padding: 1%;
    background-color: rgb(149, 17, 17);
  }

  #reseterTout:hover {
    color: black;
    cursor: pointer;
    background-color: rgb(245, 6, 6);
  }

  #tire {
    text-align: center;
    border: none;
    border-radius: 13px;
    padding: 1%;
    width: 56%;
    background-color: rgb(68, 45, 41);
    color: white;
  }

  #tire:hover {
    cursor: pointer;
    background-color: rgb(145, 109, 102);
    color: black;
  }

  #note0 {
    border: none;
    border-radius: 13px;
    padding: 1%;
    background-color: rgb(145, 2, 2);
  }

  #note0:hover {
    cursor: pointer;
    background-color: rgb(255, 0, 0);
  }

  #note1 {
    border: none;
    border-radius: 13px;
    padding: 1%;
    background-color: rgb(145, 85, 2);
  }

  #note1:hover {
    cursor: pointer;
    background-color: rgb(255, 162, 0);
  }

  #note2 {
    border: none;
    border-radius: 13px;
    padding: 1%;
    background-color: rgb(186, 183, 4);
  }

  #note2:hover {
    cursor: pointer;
    background-color: rgb(242, 255, 0);
  }

  #note3 {
    border: none;
    border-radius: 13px;
    padding: 1%;
    background-color: rgb(2, 145, 7);
  }

  #note3:hover {
    cursor: pointer;
    background-color: rgb(0, 255, 42);
  }

  #abs {
    border: none;
    border-radius: 13px;
    padding: 1%;
    background-color: rgb(70, 70, 70);
  }

  #abs:hover {
    cursor: pointer;
    background-color: rgb(123, 123, 123);
  }

  #selectionneur {
    text-align: center;
    border-color: black;
    border-radius: 13px;
    padding: 1%;
    width: 56%;
    background-color: rgb(216, 96, 96);
  }