body {
    background-color: #998484;
    text-align: center;
}

#lien {
    color:brown;
    font-size: 25px;
}

p, td {
    font-size: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #754c4c;
    border: 4mm ridge #5e3a3a;

    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 13%;
    height: 13.5%;
    position: fixed; /* immobilise la barre de navigation même lors du scrolling */
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 25px;
  }
  
  /* Change la couleur du lien lors du passage de la souris */
  li a:hover {
    background-color: #555;
    color: white;
  }

  table {
    margin-left: auto;
    margin-right: auto;
    border: 4mm ridge #5e3a3a;
    border-collapse: collapse;
  }

  tr, td {
    padding: 8px 16px;
  }

  tbody tr:nth-child(odd) {
    background-color: #916464;
  }
  
  tbody tr:nth-child(even) {
    background-color: #5e5050;
  }

  #bouton{
    background-color: #634a4a;
    border: 2mm ridge #5e3a3a;
  }

  #bouton:hover {
    background-color: #555;
    color: white;
    cursor: pointer;
  }

  img{
    height:70px;
    width: 100px;
  }

  #resultats{
    background-color: #634a4a;
    border: 2mm ridge #5e3a3a;
    height: 40px;
    width: 300px;
    font-size: 25px;
  }