* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 20px;
    background-image: url(ImageFond222.jpg);
    background-attachment: fixed;
}



form {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -100px;
}

h1 {
    background-image: url(baniere.png);
    background-attachment: center;
    background-repeat:no-repeat;
    margin-left:400px;
    text-align:center;
}

input[type=submit] {
    border: solid 1px violet;
    margin-bottom: 10px;
    padding: 15px;
    outline: none;
    border-radius: 7px;
    width: 120px;
    margin-left:615px;
}

input[type=text],[type=password] {
    border: solid 1px violet;
    margin-bottom: 10px;
    padding: 16px;
    outline: none;
    border-radius: 7px;
    width: 300px;
    margin-left:500px;
}

.erreur {
    text-align: center;
    color: red;
    margin-top: 10px;
}

a {
    font-size: 14pt;
    color: blue;
    text-decoration: none;
    font-weight: normal;
}

a:hover {
    text-decoration: underline;
}

img {
    width : 535px; 
    height : 465px;
    margin-left:200px;
    margin-top:-42px;
}
