* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 20px;
    background-image: url(ImageFond22.jpg);
    background-attachment: fixed;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: left;
    margin-top: left;
}

h1 {
    text-align: center;
    color: #FFFAFA;
    background: pink;
}

input[type=submit] {
    border: solid 1px violet;
    margin-bottom: 10px;
    float: right;
    padding: 15px;
    outline: none;
    border-radius: 7px;
    width: 120px;
}

input[type=text],[type=password] {
    border: solid 1px violet;
    margin-bottom: 10px;
    padding: 16px;
    outline: none;
    border-radius: 7px;
    width: 300px;
}

.erreur {
    text-align: center;
    color: red;
    margin-top: 10px;
}

a {
    font-size: 14pt;
    color: blue;
    text-decoration: none;
    font-weight: normal;
    margin-left:-500px;
    background-color:pink;
}

a:hover {
    text-decoration: underline;
}

table, tr, td {
    text-align:center;
    margin-left: -500px;
    margin-top: -100px;
}
