/* header */

:root{
  --hauteur-menu: 60px;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Hubballi', cursive;
  
  color:white;
}
nav {
  width: 100%;
  font-size: 18px;
  position: sticky;
  top: 0;
  background-color:#a73a76;
}

nav > ul {
  display: flex;
  text-align: center;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
  height: var(--hauteur-menu);
  
  
}
 
nav ul {
  list-style-type: none;
}

nav > ul > li {
  background-color:#a73a76;
  position: relative;
  height: 100%;
  flex: 1;
  
}

nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li a {
  text-decoration: none;
  color: white;
  background-color:#a73a76;
}

.menu-deroulant > a:after{
  content: '❯';
  font-size: 15px;
  margin-left: 7px;
  display: inline-block;
}

.sous-menu {
  margin-top: var(--hauteur-menu);
  width: 100%;
  text-align: left;
  background-color: white;
  border-radius: 2px;
  overflow: hidden;
  max-height: 0;
  z-index: 1;
}

.sous-menu > li > a {
  height: 50px;
  padding-left: 20px;
  width: 100%;
  align-items: center;
  display: flex;
}

nav > ul > li#:hover > a{
  color: #2169EC;
}

.sous-menu > li:hover {
  background-color: rgba(33, 105, 236, 0.3);
}

.sous-menu > li:hover > a {
  color: white;
}

@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(90deg);
  }
}

.menu-deroulant:hover > a:after{
  animation: rotationFleche 0.2s linear forwards;
}

@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 3px solid #2169EC;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #2169EC;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}

.menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 1s forwards;
} 

/* footer */

footer {
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    background: linear-gradient(to bottom, purple 0% , indigo 100%);
    padding: 20px;
    color: #d69f6e;
    margin: 0px -10px -10px -10px;
    border-radius: 20px 0px 0px 20px;

}

#copyright {
    text-shadow:3px 3px 3px black ;
}

a:hover {
    color: #d69f6e;
    text-decoration: underline;
}

div {
    margin:auto;
    align-items: center;
    width: 100%;    
    padding: 10px;
}

a {
    color: #d69f6e;
    text-decoration: none;
    
} 
 
/* caroussel */

div#slider {
    margin: auto;
    width: 80%;
    max-width: 500px;
    overflow: hidden;
}

div#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
    animation: 30s slidy infinite;
}

div#slider figure img{
    width: 20%;
    height: auto;
    float: left;
}

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}


/*autre*/

.message {
    position:absolute;
    margin-top: -150px;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    background-color:rgba(163, 18, 139, 0.623);
}

.info:hover + .message {
    opacity: 1;
}

input {
    position:sticky;
    left: 0;
    text-align: center;
    padding:10px;
    background-color:#a73a76;
}

body {
    font-family: 'Hubballi', cursive;
    text-align: center;
    color : white;
    font-size:21px;
    background-image: url(ImageFond11.png);
    background-attachment: fixed;
}

img {
    margin:auto;
    width : 300px; 
    height : 300px;
    background-color: rgb(247, 159, 220);
}

table {
    margin : auto;
    background-color: rgb(247, 159, 220);
    border-radius: 60px;
}


/*popup*/

*::selection{
    background-color: lightgreen;
    color: orange;
}
body{
    margin: 0px;
    padding: 0px;
}
#popup{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8); 
}
#popup_content{
    background-color:pink;
    margin: auto;
    padding: 20px;
    border: 6px solid violet;;
    width: 45%;
    height: 70%;
}
#popup_content form *{
    display: block;
    margin: auto;
}
#close_popup{
    float: right;
    display: block;
}
#close_popup img{
    width: 20px;
    height: 25px;
}
#close_popup img::selection{
    display: none;
}
#close_popup:hover, #close_popup:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#popup_content form input{
    font-size: 30px;
    outline: none;
    box-shadow: 3px 3px 3px orange;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
    padding: 10px;
}
#popup_content form input[type="submit"]{
    cursor: pointer;
    background: limegreen;
    color: darkred;
}
#popup_content form input::placeholder{
    color: darkred;
    text-align: center;
    font-family: verdana;
}
