
table {padding:10px; border : 2px solid black; margin-left: auto; margin-right : auto ; background-color : #B3B6B7 }

body {color:white;font : oblique 40px Arial, Helvetica, sans-serif;background-color:black }

input {
    padding: 15px 50px; /*largeur des boutons*/
    margin:10px 4px; /* gère la taille des cases dans lesquelles il y a les boutons */
    cursor: pointer; /* quand la souris passe sur le bouton, le pointeur change en main */
    text-align: center;
    background-color : grey;
    padding : 50px;
    font-size: 30px;
    }

/*licence:licence Apache 2.0 ; HUBERT Léa ; lea.new2@orange.fr 