<template>
  <h1>🏮\ Evaluations titre /🏮</h1>
  <br /><br /><br />
  <table>
    <tr>
      <td><input placeholder="-- utilisateur --" /></td>
    </tr>
    <tr>
      <td><input placeholder="-- nomEvaluation --" /></td>
    </tr>
    <tr>
      <td><input placeholder="-- note --" /></td>
    </tr>
    <br />
  </table>
  <button>Valider ! :3</button>
</template>
