<template>
  <div class="container" style="max-width: 600px">
    <!-- Heading -->
    

    <!-- Input -->
    <div class="d-flex mt-5">
      <input
        type="text"
        v-model="task"
        placeholder="Nom de l'évaluation UwU"
        class="w-100 form-control"
      />
      <button class="btn btn-warning rounded-0" @click="submitTask">
        Ajouter :3
      </button>
      <p>{{result}}</p>
    </div>

    <!-- Task table -->
    <table class="table table-bordered mt-5">
      <thead>
        <tr>
          <th scope="col">Task</th>
          <th></th>
          <th scope="col" class="text-center"></th>
          <th scope="col" class="text-center"></th>
          
        </tr>
      </thead>
      <tbody>
        <tr v-for="(task, index) in tasks" :key="index">

              <td> {{message}} </td>
<td id="table_body">

</td>
          <td>
            <span :class="{ 'line-through': task.status === 'finished' }">
              {{ task.name }}
            </span>
          </td>
          <td>
            <span>
              {{token}}
            </span>
          </td>
          <td class="text-center">
            <button @click="deleteTask(index)">
              supprimer
            </button>
          </td>
          <td class="text-center">
            <button @click="editTask(index)">
              modifier
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>

var requestOptions = {
  method: 'GET',
  redirect: 'follow'
};

fetch("http://localhost:8055/items/evaluation?access_token=aNMt6eCKomogjY-mxvJsEeQZSLwm4yWk ", requestOptions)

/*
.then((data)=>{
  return data.json();
})
.then((objectData)=>{
  console.log(objectData[0].IdEval)
})*/


  .then(response => response.text())
  .then((result) => {
 let lol = JSON.parse([result]);
 let token = lol.data;
 alert(token); 
 console.log(token);

/*
  let tableData="";
  token.map((values)=>{
    tableData=`<h1>${values}</h1>`;
  })
*/


 //alert(JSON.stringify(token)); 
 //console.log(JSON.stringify(token));
 
 document.getElementById("table_body").innerHTML=JSON.stringify(token);
})

  .catch(error => console.log('error', error));




  

export default {
  name: "HelloWorld",
  props: {
    msg: String,
  },
  data() {
    return {
      task: "",
      editedTask: null,  
      tasks: [
              "dd",
              "gg"
      ],
    };
  },
  methods: {
    /**
     * Capitalize first character
     */
    capitalizeFirstChar(str) {
      return str.charAt(0).toUpperCase() + str.slice(1);
    },
    /**
     * Change status of task by index
     */
    changeStatus(index) {
      let newIndex = this.statuses.indexOf(this.tasks[index].status);
      if (++newIndex > 2) newIndex = 0;
      this.tasks[index].status = this.statuses[newIndex];
    },
    /**
     * Deletes task by index
     */
    deleteTask(index) {
      this.tasks.splice(index, 1);
    },
    /**
     * Edit task
     */
    editTask(index) {
      this.task = this.tasks[index].name;
      this.editedTask = index;
    },
    /**
     * Add / Update task
     */
    submitTask() {
      if (this.task.length === 0) return;
      /* We need to update the task */
      if (this.editedTask != null) {
        this.tasks[this.editedTask].name = this.task;
        this.editedTask = null;
      } else {
        /* We need to add new task */
        this.tasks.push({
          name: this.task,
        });
      }  
var myHeaders = new Headers();
  myHeaders.append("Content-Type", "application/json");

  var raw = JSON.stringify({
    Nom: this.task,
    ForIdUti: 1
  });

  var requestOptions = {
    method: "POST",
    headers: myHeaders,
    body: raw,
    redirect: "follow",
  };

  fetch(
    "http://localhost:8055/items/evaluation?access_token=aNMt6eCKomogjY-mxvJsEeQZSLwm4yWk ",
    requestOptions
  )
    .then((response) => response.text())
    .then((result) => console.log(result))
    .catch((error) => console.log("error", error));

      this.task = "";
  },
}
}

</script>

<style scoped>
.pointer {
  cursor: pointer;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.line-through {
  text-decoration: line-through;
}
</style>
