<script setup>
import PageConexion from '../views/PageConexion.vue';
</script>

<template>
  <h1>🏮\ Bienvenue /🏮</h1>
  <br><br>
  <h2>Vous êtes désormais connecté en tant que </h2>  <!--selected.value-->
  <p>{{selected}}</p>
  <PageConexion :selected="selected" />
</template>

<style>
:root{
  --hauteur-menu: 150px;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Hubballi', cursive;
  border-radius: 0 0 10px 10px;
}
nav {
  width: 100%;
  font-size: 38px;
  position: sticky;
  top: 0;
  display: block;
  width: 300%;
}

nav > ul {
  display: flex;
  text-align: center;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
  height: var(--hauteur-menu);
  display: block;
  width: 10%;

}

nav ul {
  list-style-type: none;
}

nav > ul > li {
  background-color:#AEA9A7;
  position: relative;
  height: 100%;
  flex: 1;
  border-radius: 60px;
}

nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li a {
  text-decoration: none;
  color: white;
  background-color:#AEA9A7;

}

nav > ul > li:hover > a{
  color: #6C6968;
}
</style>