<script setup>
import { ref } from "vue";

const evaal = ref("");

const Nom = evaal;

function ajout() {
  var myHeaders = new Headers();
  myHeaders.append("Content-Type", "application/json");

  var raw = JSON.stringify({
    Nom: Nom.value,
    ForIdUti: 1
  });

  var requestOptions = {
    method: "POST",
    headers: myHeaders,
    body: raw,
    redirect: "follow",
  };

  fetch(
    "http://localhost:8055/items/evaluation?access_token=aNMt6eCKomogjY-mxvJsEeQZSLwm4yWk ",
    requestOptions
  )
    .then((response) => response.text())
    .then((result) => console.log(result))
    .catch((error) => console.log("error", error));
}
</script>

<template>
  <h1>🏮\ Evaluations disponibles /🏮</h1>
  <br /><br />
  <table>
    <tr>
      <td><input v-model="evaal" placeholder="Nom de l'évaluation" /></td>
      <td><button @click="ajout()">Ajouter UwU</button></td>
    </tr>
    <tr>
      <td>
        <p id="text">{{ Nom }}</p>
      </td>
      <td>
        <router-link to="/PageEvalu"
          >Cliquez pour plus de détails UwU</router-link
        >
      </td>
    </tr>
  </table>
</template>
