<script setup>
import { ref } from "vue";

const mail = ref("");
const mdp = ref("");
const selected = ref("");

//confirmation de connexion
function conexion() {
  var myHeaders = new Headers();
  myHeaders.append("Content-Type", "application/json");

  var raw = JSON.stringify({
    email: mail.value,
    password: mdp.value,
  });

  var requestOptions = {
    method: "POST",
    headers: myHeaders,
    body: raw,
    redirect: "follow",
  };

  fetch("http://localhost:8055/auth/login", requestOptions)
    .then((response) => response.text())
    .then((result) => {
      let lol = JSON.parse(result);
      let token = lol.data.access_token;

      alert(token);
    })
    .catch((error) => console.log("error", error));
  alert(
    "bienvenue :" + mail.value + " " + mdp.value + " " + selected.value + " / "
  );
}
</script>

<template>
  <div id="conect">
    <br /><br />
    <p>Veuillez vous connecter ! :3</p>
    <br /><br />
    <input v-model="mail" placeholder="Mail" />
    <input type="password" v-model="mdp" placeholder="Mot De Passe" />

    <select v-model="selected">
      <option disabled value="">Please select one</option>
      <option>Administrateur (RH)</option>
      <option>Collaborateur</option>
    </select>

    <button @click="conexion()">Valider ! :3</button>
  </div>
</template>
