<template>
  <h1>🏮\ Compétences /🏮</h1>
  <br /><br />
  <table>
    <tr>
      <td>Comp1</td>
      <td>note1</td>
    </tr>
    <tr>
      <td>comp2</td>
      <td>note2</td>
    </tr>
    <tr>
      <td>comp3</td>
      <td>note3</td>
    </tr>
    <tr>
      <td>comp4</td>
      <td>note4</td>
    </tr>
    <tr>
      <td>Moyenne</td>
      <td>note moyenne</td>
    </tr>
  </table>
</template>
