* {
     margin: 0;
 }

a {
    text-decoration: none;
    color: #000;
}

header {
    background: #000000;
    padding: 5px;
    text-align: center;
}

header span {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 5%;
}

header nav {
    display: inline;
}

header a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px;
}

header nav a:hover {
    background: #04baf6;
}

section {
    padding: 30px;
    min-height: 800px;
}

footer {
    background: #000;
    color: white;
    text-align: center;
    padding: 7px 0;
}

.erreur {
    background: #ff0000;
    padding: 5px;
    margin: 5px;
}

.validation {
    background: #669933;
    padding: 5px;
    margin: 5px;
}
